* {
  font-family: "B Compset" /*Replace with your custom font*/, sans-serif !important;
  box-sizing: border-box;
}

app-header {
  overflow: hidden;
  display: block;
  background-color: #f1f1f1;
  padding: 10px 5px 5px 5px;
}

app-footer {
  padding-top: 5px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
}

app-post-detail {
  margin-right: 20px;
}




