* {
  box-sizing: border-box;
  /*direction: rtl !important;*/
}

*:before,
*:after {
  box-sizing: border-box;
}

@font-face {
  font-family: IRANSans;
  font-weight: 200;
  src: url('../assets/fonts/iranyekanweblight.eot');
  src: local("?"), url('../assets/fonts/iranyekanweblight.woff') format("woff"), url('../assets/fonts/iranyekanweblight.ttf') format("truetype");
  font-style: normal
}

/*:host {*/
/*direction: rtl;*/
/*min-height: 100vh;*/
/*}*/

/**, :host :host-context:focus {*/
/*outline: 0;*/
/*}*/

/*:host /deep/ .go-smooth {*/
/*transition: .5s;*/
/*-webkit-transition: .5s;*/
/*-moz-transition: .5s;*/
/*}*/

app-header {
  overflow: hidden;
  display: block;
  background-color: #f1f1f1;
  padding: 10px 5px 5px 5px;
}

/*app-footer div {*/
/*padding-top: 5px;*/
/*position: relative;*/
/*left: 0;*/
/*bottom: 0;*/
/*width: 100%;*/
/*background-color: black;*/
/*color: white;*/
/*text-align: center;*/
/*}*/

app-post-detail {
  margin-right: 20px;
}




