<div class="card">
  <app-post-header [post]="post"></app-post-header>

  <img *ngIf="post" class="left floated mini ui image"
       src="{{post.image? post.image : 'assets/image/default-no-image.jpg'}}">

  <div class="title_section">
    <div *ngIf="post && post.title" class="title">
      {{ post.title }}
    </div>
    <div *ngIf="post && post.publish_time" class="publish_time">
      {{ post.publish_time }}
    </div>
  </div>
  <br style="clear:both"/>
  <div *ngIf="post && post.context" class="context">
    <pre>
    {{ post.context }}
    </pre>
  </div>

  <div *ngIf="post" class="time_section">
    <div class="time">
      زمان شروع : {{post.event_start_time}}
    </div>
    <div class="time">
      زمان پایان :{{post.event_end_time}}
    </div>
  </div>
  <br style="clear:both"/>
  <div *ngIf="post" class="{{post.tags.length > 0? 'location': 'location-notag'}}">
    مکان برگزاری : {{post.event_place}}
  </div>

  <div *ngIf="post" class="footer">
    <span *ngFor="let tag of post.tags" class="badge badge-secondary">{{ tag.name }}</span>
  </div>
  <!--<button (click)="goBack()">go back</button>-->
</div>
