/*.posts {*/
/*display: flex;*/
/*flex-wrap: wrap;*/
/*align-items: flex-start;*/
/*justify-content: flex-start;*/
/*align-content: flex-start;*/
/*columns: 2em;*/
/*flex-direction: column;*/

/*}*/
/*.posts{*/
/*display: flex;*/
/*justify-content: space-around;*/
/*align-items: flex-start;*/
/*flex-wrap: wrap;*/
/*flex-direction: column;*/
/*}*/

img {
  width: 100%;
  /*height: 300px;*/
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  float: right;
  margin: 10px 10px 10px 10px;
  font-weight: bold;
  /*align-self: flex-start;*/
  position: relative;
  /*top:-30px;*/
  /*vertical-align: top;*/
  /*overflow-y:visible;*/
  /*flex: 1 auto;*!*/
  /*padding: 10px;*/
  height: 0%;
  width: 340px;
  /*height: 415px;*/
  background-color: beige;
  border-radius: 4px;
}

.card a {
  display: inline;
  text-decoration: none;
  color: black;
}

.container {
  padding: 2px 16px;
}

.title {
  text-align: center;
  border-bottom: 1px solid black;
  padding: 10px 0;
}

.footer {
  height: 30px;
  float: right;
}

.footer span {
  display: inline-block;
  margin: 0 2px;
  background-color: #555;
  /*float: right;*/
}
