/* HeroDetailComponent's private CSS styles */
label {
  display: inline-block;
  width: 3em;
  margin: .5em 0;
  color: #607D8B;
  font-weight: bold;
}

input {
  height: 2em;
  font-size: 1em;
  padding-left: .4em;
}

button {
  margin-top: 20px;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  /*cursor: pointer;*/
  cursor: hand;
}

button:hover {
  background-color: #cfd8dc;
}

button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}

img {
  max-width: 500px;
  margin: 0;
  /*height: 350px;*/
}

.content {
  margin-top: 50px;
  width: 100%;
  margin-right: 45px;
  float: right;

}

.img-column {
  width: 100%;
  text-align: center;
  background-color: #f9f9f9;
  /*max-height: 800px;*/
  /*min-height: 400px;*/
  /*float: right;*/
  /*position: relative;*/
}

.content-column {
  width: 100%;
  /*margin-right: 40px;*/
  /*float: right;*/
  background-color: #f3f3f3;
  /*left: 0;*/
  /*background-color: beige;*/
}
