div {
  /*border-bottom: #999 1px solid;*/
  /*float: right;*/
}

img {
  border-radius: 5px;
  width: 20px;
  display: inline;
  margin: 10px;
}

p {
  display: inline;
}

/*.pin {*/
/*position: absolute;*/
/*width: 50px;*/
/*!*position: relative;*!*/
/*right: 150px;*/
/*top: -40px;*/
/*background-color: beige;*/
/*}*/
.pin {
  background-color: beige;
  padding: 5px 7px;
  position: absolute;
  top: -30px;
  left: 150px;
  border-radius: 100px;
  z-index: -1;
}

.pin-img {
  position: relative;
  top: -9px;
  width: 30px;
}

#container {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.groups_detail {
  padding: 10px 10px 0px 0px;
  float: right;
  display: inline;
}

.post_status {
  padding: 10px 8px 10px 10px;
  float: left;
  display: inline;
  margin-top: 7px;
  font-size: small;
  background-color: #f76262;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
}

.link {
  cursor: pointer;
  color: black;
}
